.image-left-external {
  float: left;
  margin-top: 12px;
  margin-left: 22px;
  margin-right: 27px;
  margin-bottom: 1px;
}

.image-left-external img {
  display: block; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của container */
}
